
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer {
    background-color: #13dfa2;
    color: white;
    text-align: center;
    padding: 1em;
}

.container {
    display: flex;
    flex: 1;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.aside {
    flex: 1;
    background-color: #8c72d5;
    color: white;
    text-align: center;
    padding: 1em;
}

.article {
    flex: 2;
    background-color: #b6569e;
    padding: 10px;
    text-align: center;
    color: white;
}

.images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
   
    
}

.image {
    background-color: #ffc880;
    padding: 1em;
    flex: 1;
    align-items:flex-end;
}