
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

}

body {
    font-family: Arial, sans-serif;
   
}

.section1 {
    background-color: #66bb6a;
    padding: 1em;
    text-align: center;
    color: white;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.section2 {
   grid-column-start: 1;
   grid-column-end: ;

    background-color: #d1c4e9;
    padding: 1em;
    text-align: center;
}

.main-content {
    flex: 2;
    background-color: #a1887f;
    padding: 1em;
    color: white;
    text-align: center;
}

.section3 {
    flex: 1;
    background-color: #558b2f;
    padding: 1em;
    text-align: center;
    color: white;
}

.extra-content {
    flex: 1;
    background-color: #b0bec5;
    padding: 1em;
    text-align: center;
}

.related {
    display: flex;
}

.related-images {
    flex: 1;
    background-color: #1e88e5;
    padding: 1em;
    text-align: center;
    color: white;
}

.related-posts {
    flex: 1;
    background-color: #d81b60;
    padding: 1em;
    text-align: center;
    color: white;
}

.footer {
    background-color: #0d47a1;
    color: white;
    text-align: center;
    padding: 1em;
}