  .page {
      height: 100vh;
      background-color: #eee;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: 50px auto 50px;
      grid-template-areas:
          "header header header header header header header header header header"
          "Aside Aside Aside artical artical artical artical artical artical artical"
          "foot foot foot foot foot foot foot foot foot foot";
          gap: 10px;
  }
  
 header {
      grid-area: header;
      background-color: rgb(20, 165, 119);
      color: white;
      text-align: center;
  }
  
  .artical{
      grid-area: artical;
      background-color: rgb(139, 139, 50);
      color: white;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      
    
  }
  
  .Aside {
      grid-area: Aside;
      background-color: green;
      color: white;
      text-align:center;
      flex-direction: column;
      text-align: center;
      
  }
  .Image {
    grid-area: Aside;
    background-color: rgb(168, 182, 22);
    color: white;
    padding: 50px;
   
   
    display: flex;


}
  footer {
      grid-area: foot;
      background-color: rgb(20, 165, 119);
      color: white;
      text-align: center;
  }
  